<!DOCTYPE html SYSTEM "about:legacy-compat">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>flock :: {% block title %}{% endblock %}</title>

    {% match style_id.0 %}
      {% when Some with (style_id) %}
        <link href="/styles/{{ style_id }}" rel="stylesheet" />
      {% when None %}
    {% endmatch %}

    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}

    <footer>
      <h2>navigation</h2>

      <nav id="site-navigation">
        <ul>
          <li><a href="/">home</a></li>
          <li><a href="/post">post</a></li>
          <li><a href="/tags">tags</a></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
