{% extends "base.html" %}

{% block title %}edit-link{% endblock %}

{% block body %}
  <h1>editing link <span class="link-id id">{{ id }}</span></h1>

  <form method="post" action="/links/{{ id }}/edit">
    <div>
      <label for="description">description:</label>
      <input type="text" id="description" name="description" value="{{ description }}"/>
    </div>

    <div>
      <label for="tags">tags (comma-delimited):</label>
      <input type="text" id="tags" name="tags" value="{{ tags }}"/>
    </div>

    <button>submit</button>
  </form>
{% endblock %}
