{% extends "base.html" %}

{% block title %}index{% endblock %}

{% block head %}
  {% match account %}
    {% when Some with (account) %}
      <link rel="alternate" type="application/rss+xml" href="/feed.xml?account-id={{ account.id }}" />
    {% else %}
  {% endmatch %}
{% endblock %}

{% block body %}
  <h1>flock</h1>

  {% match account %}
    {% when Some with (account) %}
      <span class="br">you are currently <a href="/profile">logged in</a></span>

      <a href="/logout">log out</a><br/>

      <h2>your feed</h2>

      <ul>
        {% for link in account.links %}
          <li>
            <a href="/links/{{ link.id }}">{{ link.description }}</a>

            {% if !link.rated %}
              {% if link.visited %}
                | <a href="/links/{{ link.id }}/promote">promote</a>
                <a href="/links/{{ link.id }}/neutral">neutral</a>
                <a href="/links/{{ link.id }}/demote">demote</a>
                {# <a href="/links/{{ link.id }}/edit">edit</a> #}
              {% endif %}
            {% endif %}

            {% match link.rating %}
              {% when Some with (rating) %}
                <span>| {{ rating }}</span>
              {% when None %}
            {% endmatch %}
          </li>
        {% endfor %}
      </ul>
    {% when None %}
      <a href="/login" class="br">log in</a>
      <a href="/signup">sign up</a>
  {% endmatch %}

  <h2>miscellaneous</h2>

  <a href="/tags" class="br">current tags</a>
  <a href="/post">post a link</a>
{% endblock %}
