{% extends "base.html" %}

{% block title %}post{% endblock %}

{% block body %}
  <h1>make a post on flock</h1>

  <form method="post" action="/post">
    <label class="br">link: <input type="text" name="link"/></label>
    <label class="br">description: <input type="text" name="description"/></label>
    <label class="br">tags (comma-delimited): <input type="text" name="tags"/></label>
    <button>submit</button>
  </form>

  a list of tags is available <a href="/tags">here</a>
{% endblock %}
