{% extends "base.html" %}

{% block title %}post{% endblock %}

{% block body %}
  <h1>post</h1>

  <form method="post" action="/post">
    <div>
      <label for="link">link:</label>
      <input type="text" id="link" name="link"/>
    </div>

    <div>
      <label for="description">description:</label>
      <input type="text" id="description" name="description"/>
    </div>

    <div>
      <label for="tags">tags (comma-delimited):</label>
      <input type="text" id="tags" name="tags"/>
    </div>

    <button>submit</button>
  </form>
{% endblock %}
