{% extends "base.html" %}

{% block title %}post{% endblock %}

{% block body %}
  <h1>post</h1>

  <div class="rules">
    <h2>rules</h2>

    <ul>
      <li>don't post nsfw/18+ content</li>
      <li>
        try to keep things interesting. don't just post memes to post memes,
        and if you do, tag it appropriately
      </li>
      <li>
        tag everything with some degree of comprehensiveness (please read the
        tag list before posting), and don't use unrelated tags
      </li>
      <li>
        a description should accurately describe the thing it links to. while
        an excessively long description is bad, so is a short one
      </li>
      <li>don't post anything that is illegal in the united states</li>
    </ul>
  </div>

  <form method="post" action="/post">
    <div>
      <label for="link">link:</label>
      <input type="text" id="link" name="link"/>
    </div>

    <div>
      <label for="description">description:</label>
      <input type="text" id="description" name="description"/>
    </div>

    <div>
      <label for="tags">tags (comma-delimited):</label>
      <input type="text" id="tags" name="tags"/>
    </div>

    <button>submit</button>
  </form>
{% endblock %}
