{% extends "base.html" %}

{% block title %}profile{% endblock %}

{% block body %}
  <h1>profile for account <span class="account-id id">{{ profile.id }}</span></h1>

  <h2>settings</h2>

  <form method="post" action="/profile">
    <div>
      <label for="refresh-account-id">refresh your account id (coming soon)</label>
      <input type="checkbox" id="refresh-account-id" name="refresh-account-id"/>
    </div>

    <div>
      <label for="tags">tags you care about (comma-delimited):</label>
      <input type="text" id="tags" name="tags" value="{{ profile.tags }}"/>
    </div>

    <button>submit</button>
  </form>

  <h2>miscellaneous</h2>

  <ul>
    <li>an rss feed is available <a href="/feed.xml?account-id={{ profile.id }}">here</a></li>
    <li>your tag scores can be found <a href="/profile/tags">here</a></li>
  </ul>
{% endblock %}
