{% extends "base.html" %}

{% block title %}profile{% endblock %}

{% block body %}
  <h1>flock membership card for account {{ profile.id }}</h1>

  <form method="post" action="/profile">
    <label class="br">refresh your account id (coming soon)<input type="checkbox" name="refresh-account-id"/></label>
    <label class="br">tags you care about (comma-delimited): <input type="text" name="tags" value="{{ profile.tags }}"/></label>
    <button>submit</button>
  </form>

  <span class="br">a list of tags is available <a href="/tags">here</a></span>
  your tag scores can be found <a href="/profile/tags">here</a>
{% endblock %}
